= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title, class: 'form-control'
    = f.label :description
    = f.rich_text_area :description, class: 'form-control'
    %small= f.error :description, class: 'is-invalid'
    = f.input :short_description, class: 'form-control'
    = f.input :language, class: 'form-control', collection: ["English","Polish","Russian"]
    = f.input :level, class: 'form-control', collection: ["Beginner","Imediate","Advanced"]
    = f.input :price, class: 'form-control'


  
  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-common'
